body {
    background: url(https://images.unsplash.com/photo-1590227632180-80a3bf110871?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Nnx8YmFza2V0YmFsbHxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60);
    background-size: cover;
    background-attachment: fixed;
}

/* index.html*/

@media only screen 
    and (device-width : 768px) 
    and (device-height : 1024px)
    { 
      #title {
        font-size: 100px;
      }

      #text {
        font-size: 40px;
      }

      nav, .dropdown-item {
        font-size: 40px;
      }

    }

.card:hover {
  -webkit-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
  box-shadow: -1px 9px 40px -12px rgba(green, blue, alpha);
}

.margin {
  margin-top: 10%;
}

#title {
  font-size: 60px;
}

.card-text {
  font-size: 35px;
}

/* teamstats.html */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  width: 250%;
}

button {
  width: 100%;
  text-align: center;
}
